#Add Uploadthing secret and appId to setup fileupload https://uploadthing.com/

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

GITHUB_ID = 
GITHUB_SECRET = 



# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres.avthfddrvvvjzccbfctd:5PvhzNN7EPRtxpdx@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgresql://postgres.avthfddrvvvjzccbfctd:5PvhzNN7EPRtxpdx@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=6dGUBIdwH2XbQSSYKqu0uIxMx/fmt9zhuyN8+gJktG4=